  /*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');*/
  @import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";
  @import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:not(mat-icon) {
    font-family: Lato, Helvetica, Arial, sans-serif !important;
    font-style: normal;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  a:active,
  a:hover {
    color: #2b4b52 !important;
  }

  a {
    color: #3c6974 !important;
    text-decoration: none !important;
    font-family: Open Sans, sans-serif !important;
    font-weight: 600;
    font-style: normal;
  }

  p,
  span,
  div,
  a,
  button {
    line-height: 26px;
  }

  .flex {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-column span:first-child {
    font-weight: bold;
  }

  .correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
  }

  .incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  .correct .icon {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }

  .incorrect .icon {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }

  .explanation .icon {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }

  .gif {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  ::selection {
    color: #fff;
    background: #007bff;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 18px;
    height: 18px;
  }

  .center-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .flex-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* info_box */
  .info-title {
    height: 40px;
    width: 100%;
    /*border-bottom: 1px solid lightgrey;*/
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-weight: 400;
  }

  .info-title span {
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .rules {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f7f7;
  }

  .info-list {
    padding: 10px 0px 0px 0px;
  }

  .info-list .info {
    font-size: 16px;
    line-height: 24px;
  }

  .info-list .info:not(:first-child) {
    margin: 20px 0px;
  }

  .info-list .info span {
    font-weight: 500;
    color: #1F4F82;
  }

  /* box */
  .card-container {
    height: 100%;
    width: 100%;
  }

  .box {
    width: 100%;
    height: 100%;
  }

  .box header {
    padding: 20px 24px !important;
    height: 60px;
    background: #3a3632 !important;
    display: flex;
    justify-content: space-between;
    animation: slideToTop 0.5s forwards;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
  }

  .box header .title {
    font-size: 16px;
    font-weight: 600;
    color: #fbf9f8;
    height: fit-content;
    text-transform: uppercase;
  }

  .box header .timer {
    color: #1E90FF;
    background: #fff;
    border: 1px solid #fff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
  }

  .box header .timer .time_left_txt {
    font-weight: 400;
    font-size: 14px;
    user-select: none;
  }

  .box header .timer .timer_sec {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #1E90FF;
    border: 1px solid #1E90FF;
    user-select: none;
  }

  section {
    padding: 20px;
    background: #fff;
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    overflow: auto;
  }

  section.full {
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
  }

  .content_box {
    /*min-height: calc(100vh - 160px);*/


    padding: 20px 2%;
    padding: max(40px, 4%) max(20px, 4%);
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-height: calc(100vh - 160px);
    max-height: max-content;
    position: relative;
    z-index: 0;
  }

  .que_text {
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    align-items: center;
    display: flex;
    line-height: 24px;
    color: #000 !important;
  }

  .feedback {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
  }

  section .option_list {
    padding: 20px 0px;
    display: block;
  }

  section .option_list .option:not(.validation .option) {
    background: #1F1F1F0A;
    border: 1px solid #1F1F1F29;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 28px;
  }

  section .option_list .option:not(.validation .option):last-child {
    margin-bottom: 0px;
  }

  section .option_list .option:not(.validation .option):hover {
    border: 1px solid #3366995e;
  }

  section .option_list .option.selected:not(.validation .option) {
    color: #0c2766;
    background: #DDEAF8;
    border: 1px solid #b8daff;
  }

  section .option_list .option.correct:not(.validation .option) {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
  }

  section .option_list .option.incorrect:not(.validation .option) {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  section .option_list .option.disabled:not(.validation .option) {
    pointer-events: none;
  }

  section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
  }

  .option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
  }

  .option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
  }

  .content.aria {
    justify-content: flex-start !important;
    display: flex !important;
  }

  section .fill_container {
    padding: 20px 0px;
    display: block;
  }

  .content {
    background: #1F1F1F0A;
    border: 1px solid #1F1F1F29;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 25px;
    cursor: default;
    transition: all 0.2s ease;
    align-items: center;
    justify-content: space-between;
    line-height: 28px;
  }

  .content.block {
    padding: 20px 40px 20px 20px;
  }

  .info {
    border-radius: 4px;
    padding: 4px;
    background: #e6e6fa24;
  }

  .explanation {
    background: #e6e6fad6;
  }

  .content:last-child {
    margin-bottom: 0px;
  }

  .content .input_container {
    display: initial;
    align-items: center;
    position: relative;
    /*width: 100% !important;*/

  }

  .content .input_container .input {
    outline: none;
    background: #fff;
    font-size: 14px;
    transition: width 0.2s ease;
    color: #151313;
    cursor: text;
    min-width: 100px;
    word-break: break-all;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    margin: 0px 5px;
    border: 1px solid #b8daff47;
    position: relative;
    max-width: 100%;
  }

  .content .input_container .input:hover {
    border: 1px solid #b8daffc7;
  }

  .content .input_container .input:focus {
    border: 1px solid #b8daffc7;
  }

  .content .input_container .input.grab {
    cursor: grab !important;
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: transparent;
    font-stretch: semi-condensed;
  }

  [contenteditable=false]:empty:before {
    content: attr(placeholder);
    color: #33669996;
    font-stretch: semi-condensed;
  }

  .content {
    position: relative;
  }

  .grid {
    display: grid;
  }

  .refresh-icon {
    position: absolute;
    bottom: 0px;
    top: 0px;
    cursor: pointer;
    font-size: 24px;
    color: #336699b2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .refresh-icon.left {
    left: 20px;
    right: inherit;
  }

  .refresh-icon.right {
    right: 20px;
    left: inherit;
  }

  .refresh-icon:hover {
    color: #1E90FF;
  }

  .draggable-words {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .draggable-word {
    cursor: grab;
    background-color: #fff;
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid #b8daff;
    font-size: 14px;
    font-stretch: semi-condensed;
    font-weight: inherit;
    color: rgba(0, 0, 0, .87);
  }

  .draggable-word:hover {
    border: 1px solid #3366995e;
  }

  .draggable-word {
    transition: transform 0.2s ease;
  }

  .draggable-word.returning {
    transition: transform 0.2s ease;
  }

  .draggable-word {
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .dragged-word {
    opacity: 0.5;
  }

  footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    background-color: #fff;
    position: relative;
    bottom: 0px !important;
    width: 100%;
    padding-inline: 24px;
  }

  footer .total_que span {
    display: flex;
    user-select: none;
  }

  footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
  }

  footer .total_que span p:first-child {
    padding-left: 0px;
  }

  .content_box.result {
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    transition: all 0.3s ease;
    min-height: 400px;
  }

  .content_box .complete_text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .content_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .content_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
  }

  .text.label {
    margin: 0px 0px 12px 0px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
  }

  .text.label:first-child {}

  [mat-dialog-content] {
    margin: 0px;
    padding: 0px;
    max-height: fit-content;
  }

  .mat-expansion-panel-header {
    padding: 35px 30px 25px;
  }

  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .congratulations-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .score-text {
    font-size: 18px;
    color: #000;
  }

  .congratulations-container {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 40px;
    background-color: transparent;
  }

  .congratulations-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.1);
    padding: 40px 28px;
    border-radius: 20px;
  }

  .certification-image {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    .congratulations-content {
      flex-direction: column;
    }

    .certification-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  button.next_btn {
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 1.1;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
    vertical-align: middle;
    font-size: 14px;
    box-shadow: none;
    text-transform: none;

    background-color: rgba(0, 0, 255, 0.496);
    color: #fff;
    border: 0px;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: all 0.3s;
    -moz-transition: color .3s, background-color .2s;
    -webkit-transition: color .3s, background-color .2s;
  }

  button.next_btn:hover {
    background-color: rgba(0, 0, 255, 0.694);
  }


  button.next_btn:disabled,
  button.next_btn[disabled] {
    opacity: 0.8;
    cursor: default;
  }


  button.exit_btn {
    color: #000000c4;
    cursor: pointer;
    display: inline-block !important;
    height: auto;
    line-height: 1.1;
    opacity: 0.9;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: none !important;
    border-radius: 0;
    vertical-align: middle;
    font-size: 14px;
    background-color: #fff;
    box-shadow: none !important;
    text-transform: none;
    border: 1px solid #b9b8b8;
    font-family: Lato, sans-serif !important;
    font-style: normal;
    font-weight: 600 !important;
    transition: all 0.3s;
    -moz-transition: color .3s, background-color .2s;
    -webkit-transition: color .3s, background-color .2s;
  }

  button.exit_btn:hover {
    opacity: 1;
    border: 1px solid #757272a1;
    color: #000;
  }

  .scrolling-form-container__pane-left {
    position: relative;
    z-index: 9;
  }

  .scrolling-form-container__pane-left {
    z-index: 1;
    display: flex;
    flex-direction: initial;
    overflow: auto;
    padding: 20px 2% 0px 2%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    /*box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);*/
    background-color: var(--color-branding-bg, #fff);
    min-height: calc(100vh - 160px);
  }

  .login-container .scrolling-form-container__pane-left,
  .login-container .scrolling-form-container__pane-right {
    position: relative;
    z-index: 9;
  }

  .left-pane__logo-wrapper {
    width: 180px;
    margin-bottom: 20px;
  }

  .left-pane__logo-wrapper img {
    height: 40px;
    margin-left: -10px;
  }

  .left-pane__company-name {
    color: var(--color-branding-text, #0e141e);
    text-transform: capitalize;
  }

  .left-pane__test-name {
    color: var(--color-branding-text, #0e141e);
    padding: 0;
    word-break: break-word;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }

  .left-pane__test-name {
    color: var(--color-branding-text, #0e141e);
    word-break: break-word;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }

  .left-pane__test-detail-container {
    min-height: 45px;
  }

  .left-pane__test-detail {
    color: var(--color-branding-text, #576871);
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .panel-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 20px;
  }

  .panel-header-content .title {
    flex-grow: initial;
  }

  .score {
    margin-left: auto;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
  }

  .congratulations-container {
    flex: 1;
  }

  .questions-accordion:not(.validation) {
    flex: 1;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 20px;
  }

  .text.label {
    margin: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    display: list-item;
    display: list-item;
  }

  @media screen and (max-width: 14d00px) {
    .main-container {
      flex-direction: column;
      height: auto;
    }
  }

  @media screen and (max-width: 1400px) {
    .main-container {
      flex-direction: column;
      height: fit-content;
    }

    .questions-accordion:not(.validation) {
      height: fit-content;
      padding: 20px;
      overflow: hidden;
    }
  }

  .congratulations-container footer {
    margin-top: 20px;
    justify-content: initial;
    border: 0px;
    padding-inline: 0px;
  }

  .congratulations-container footer button:not(:first-child) {
    margin-inline: 20px;
  }

  .questions-accordion .content {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 14px;
    border: 0px !important;
  }

  .questions-accordion .content .text.option {
    display: flex;
    justify-content: start;
  }

  .questions-accordion .content .input_container {
    width: auto;

  }

  .questions-accordion .content {
    position: relative;
    padding: 0px;
    padding-inline-start: 2px;
    margin-bottom: 14px;
    border: 0px !important;
    display: flex;
    justify-content: space-around;
    border-radius: 0px;
    color: black;
  }

  .questions-accordion .list {
    display: grid;
    width: 100%;
    background: #fff;
  }

  .questions-accordion .content .option,
  .questions-accordion .content .block {
    justify-content: start;
    padding: 10px 20px;
    background: #fff;
    flex: 1;
  }

  .questions-accordion .content.correct {
    background: #0f620f70;
  }

  .questions-accordion .content.incorrect {
    background: #f044447d;
  }

  .questions-accordion .content.correct .text:not(.block .text) {
    justify-content: start;
    padding: 10px 20px;
    background: #fff;
    flex: 1;
  }

  .questions-accordion .content.explanation {
    background: #4d4d6099;
  }

  .questions-accordion .content.explanation .text {
    justify-content: start;
    padding: 10px 20px;
    background: #fff;
    flex: 1;
  }

  .mat-expansion-panel-header {
    background: transparent !important;
  }

  .mat-expansion-panel {



    padding: 4% 2%;
    box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.04) !important;
    border-radius: 20px !important;
    margin-bottom: 32px;
  }

  .mat-expansion-panel-header {
    border-radius: 0px !important;
  }

  .mat-expansion-panel.incorrect {
    border: 1px solid #f8d7da52;
  }

  .mat-expansion-panel.correct {
    border: 1px solid #d4edda5e;
  }

  .mat-expansion-panel.correct {

    color: #155724;
    background: #d4edda3d !important;
    border: 0px !important;

  }

  .mat-expansion-panel.incorrect {
    color: #721c24;
    background: #f8d7da30 !important;
    border: 0px !important;

  }

  .mat-expansion-panel.correct:hover {
    color: #155724;
    background: #d4edda3d !important;
    border: 0px !important;

  }

  .mat-expansion-panel.incorrect:hover {
    color: #721c24;
    background: #f8d7da30 !important;
    border: 0px !important;

  }